@charset "UTF-8";


.navbar-expand-lg {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
}

.nav-item {
    text-align: center;
    padding-left: 38px;
}

.display-4 {
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #FFFFFF;	
}

.search {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.lead {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    color: #FFFFFF;	

}

.discover {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 23px;
    color: #FFFFFF;	
}
.btn {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    color: #FF0004;
    background-image: url(../images/stage2.jpg);
}

.footer {
    background-color: #FF0004;
    margin-top: 36px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-align: center;
    height: 115px;
    padding-top: 16px;
    color: #00000;
}

.two {
    background-image: url(../images/audience.jpeg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;	
}

.one {
    background-image: url(../images/stage2.jpg);
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
}

.body {
    background-color: #F9F9FA;	
}

#carouselExampleSlidesOnly {
    padding-top: 15px;
    padding-bottom: 35px;
    text-align: center;
}
.story {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.lijntje {
    background-color: #FF0004;	
}

.heading {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    color: #FF0004;	
}

.text {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;	
}

.row {
    background-color: #000000;
    padding-top: 23px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    border-radius: 7px;
}

.three {
    background-image: url(../images/aboutus.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.caption {
    color: #FF0004;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.four {
    background-image: url(../images/noten.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.col-6 {
    border-style: dashed;
    border-color: #FFFFFF;
}

#mission {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FE0004;
    text-align: center;
    width: auto;
    margin-left: 394px;
}

.lower {
    text-align: center;
    color: #FF0004;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
	}

.new {
    padding-bottom: 36px;
}

.caption {
    padding-top: 19px;	
}

.stars {
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.review {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
    font-style: italic;	
}

.smallstory {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.smallstory2 {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 21px;
}

.five{
    background-image: url(../images/vinyl3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hihi {
    background-color: #FFFFFF;	
}

.docenten {
    color: #000000;
    margin-top: 20px;
}

.teachers {
    color: #000000;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 17px;
}
.docentj {
    border-radius: 114px;
}
.verhaaltje {
    margin-top: 60px;
}

.design {
    margin-top: 15px;
    margin-bottom: 15px;
      
}

.laatste {
    color: #FF0004;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


.missie {
    margin-bottom: 20px;	
}

.uitleg {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.kleintje {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 15px;
}
